*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.hero{
	height: 100vh;
	width: 100%;
	/* background-image: url(image/Image02.png); */
	background-image: linear-gradient(to top, rgba(14, 13, 13, 0.85), rgba(23, 23, 23, 0.207));
	background-size: cover;
	background-position: center;
}
img{
    height: 100vh;
	width: 100%; 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 40px;
	padding-left: 8%;
	padding-right: 8%;
	color: #101010;
}
.logo{
	color:rgb(17, 17, 17);
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
nav ul {
	display: flex;
	font-size: 20px;
	font-weight: bold;
	border-radius: 15%;
}
nav ul li{
	list-style-type: none;
	display: inline;
	padding: 10px  25px;
	
}
nav ul li a{
	color:rgb(46, 41, 27);
	text-decoration: none;
	font-weight: bold;
	display: inline;
}
ul li a:hover{
	cursor: pointer;
    color: rgba(209, 143, 20, 0.781);
	border-bottom: 2px solid rgba(202, 164, 40, 0.781);
}
.btn{
	background-color:rgb(173, 140, 31);
	color: rgba(24, 23, 21, 0.781);
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
}
.content{
	position: absolute;
	top: 55%;
	left:8%;
	transform: translateY(-50%);
	/* color:rgb(150, 122, 33); */
	color:rgba(22, 22, 22, 0.986);
}
h1{
	/* color: rgb(231, 83, 83); */
	margin: 20px 0px 20px;
	font-size: 65px;
}
h3{
	/* color: rgb(223, 39, 39); */
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	/* color:rgb(223, 39, 39); */
	letter-spacing: 2px;
	font-size: 20px;
}
.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
	
}
.about-text{
	width: 550px;
	margin-left: 600px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: rgb(88, 77, 37);
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  rgb(173, 140, 31);
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.end{
	position: absolute;
	color:rgb(173, 140, 31);
	bottom: 35px;
	font-size: 14px; 
}