

*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: 'poppins', sans-serif;
}
 /* body {
    /* font-family: Arial, sans-serif; */
     /* display: flex; */
    /* justify-content: center;
    align-items: center;  */
    /* height: 100vh;
    width: 100%;  */
     /* margin: auto;
    padding: 0;  */

  */

.calculator {
     /* border: 1px solid #0f0e0e;
    border-radius: 5px;
    background-color: #e0c5c5;
    padding: 20px;  */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #3a3136;
    margin-left: 50px;

}

/* .display {
    width: 100%;
    margin-bottom: 20px;
    text-align: right;
} */

/* .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
} */
input{
    width: 330px;
    padding: 25px;
    margin: 10px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 45px;
    text-align: right;
    color: white;
}
input::placeholder{
    color: #3a3136;
}

button {
    width: 60px;
    height: 60px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #8f702c;
    font-size: 21px;
    font-weight: 6000;
    color: white;
    margin: 10px;
    cursor: pointer;
}

.hasil{
    width: 144px;
    color: white;
    background: orange;
    font-weight: 700;
}
.main{
    color: white;
    background: orange;
    font-weight: 400;
}
.operator{
    color: white;
    background: blueviolet;
}

 button:hover {
    background-color: #423b3b;
}

button:active {
    background-color: #e9e9e9;
}

 /*.equals, .clear {
    grid-column: span 4;
    font-size: 22px;
}

.clear {
    background-color: #ffd700;
    color: #000;
}

.clear:hover {
    background-color: #ffc000;
} */

/* .clear:active {
    background-color: #ffb300;
} */