:root{
    --main-radius:5px;
    --main-padding:5px;
    /* --primaryFont:15px; */
}

*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: "sidebar nav nav nav" 
    "sidebar main main main" 
    "sidebar content1 content2 content3"
    "footer footer footer footer";

}
nav{
    /* background-color: aqua; */
    background-color: #eaeaea;
    grid-area: nav;
    color: #212121;
    cursor: pointer;
    font-size: 2.5rem;
    justify-content: end;
    display: flex;
    /* border-radius:var(--main-radius) ; */
    /* padding-top: var(--main-padding); */
}
main{
    /* background-color: rgb(248, 179, 89); */
    background-color: #eaeaea;
    grid-area: main;
    display: inline;
    align-items:center;
    justify-content:center; 
    /* font-family: var(--primaryFont); */
    /* font-style: normal; */
    /* padding: 100px; */
    /* margin-left: 50vh  */
    /* border-radius:var(--main-radius) ; */
    padding-top: var(--main-padding);
    padding-left: 50vh;
    .btn {
        background: #3498db;
        border-radius: 29px;
        font-family: Arial;
        color: #f1eff7;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        display: inline;
        gap: 35px;
    }
    .btn:hover {
        background: #030e1a;
        background-image: -webkit-linear-gradient(top, #030e1a, #3498db);
        background-image: -moz-linear-gradient(top, #030e1a, #3498db);
        background-image: -ms-linear-gradient(top, #030e1a, #3498db);
        background-image: -o-linear-gradient(top, #030e1a, #3498db);
        background-image: linear-gradient(to bottom, #030e1a, #3498db);
        text-decoration: none;
    }
}
.sidebar{
    /* background-color: aquamarine; */
    background-color: rgb(84, 95, 196);
    grid-area: sidebar;
    /* border-radius:var(--main-radius) ; */
    /* padding-top: var(--main-padding); */
    
    .link{
        display: flex;
        gap: 20px;
        /* justify-content: end; */
        align-items: end;
        margin-top: 60vh;
        margin-left: 25px;
    }
}
.content1{
    background-color: rgb(219, 219, 32);
    grid-area: content1;
    /* border-radius:var(--main-radius) ; */
    /* padding-top: var(--main-padding); */
}
.content2{
    background-color: rgb(25, 192, 192);
    grid-area: content2;
    /* border-radius:var(--main-radius) ; */
    /* padding-top: var(--main-padding); */
}
.content3{
    background-color: rgb(243, 165, 10);
    grid-area: content3;
    /* border-radius:var(--main-radius) ; */
    /* padding-top: var(--main-padding); */
}
footer{
    background-color: blue;
    grid-area: footer;
    /* border-radius:var(--main-radius) ; */
    /* padding-top: var(--main-padding); */
}


@media only screen and (max-width:550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        "nav"
        "main"
        "sidebar"
        "content1"
        "content2"
        "content3"
        "footer";
    }
}